$base-color: #e7e412;
$white: #fff;
$title-color: #2e2e2b;
$success-color: #178d31;
$bg-color: #e0e0e0e0;

header {
  padding: 15px 0;
  background: $base-color;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .iconLogo {
    width: 30px;
    margin-right: 7px;
  }

  .titleHeader {
    color: $title-color;
    display: inline;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    text-transform: uppercase;
  }
}

.listItem {
  padding: 0;
  margin: 0;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.bookItem {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 13%;
  margin: 20px 0;
  padding: 5px;

  .bookTitle {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
  }

  img {
    width: 100%;
  }

  .addToCartButton {
    margin-top: 10px;
    background: $success-color;
    color: $white;
    font-weight: 700;
    border: none;
    padding: 10px 0;
  }
}
